<h2>This is the page containing the Article component</h2>

<div class="component-section">
  <h3>This is an expandable article with only text.</h3>
  <div class="component">
    <lib-article>
      <p slot="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, soluta,
        accusamus officiis itaque at officia animi excepturi temporibus
        provident totam ipsa. Quia ad alias dicta dignissimos? Corporis eius est
        ea.
      </p></lib-article
    >
  </div>
</div>

<div class="component-section">
  <h3>
    This is an expandable article containing a title, a subtitle and the text.
  </h3>
  <div class="component">
    <lib-article title="This is the title" subTitle="This is the subtitle">
      <p slot="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, soluta,
        accusamus officiis itaque at officia animi excepturi temporibus
        provident totam ipsa. Quia ad alias dicta dignissimos? Corporis eius est
        ea.
      </p></lib-article
    >
  </div>
</div>

<div class="component-section">
  <h3>
    This is an expandable article containing a title, a subtitle, the text and a
    footer.
  </h3>
  <div class="component">
    <lib-article title="This is the title" subTitle="This is the subtitle">
      <p slot="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, soluta,
        accusamus officiis itaque at officia animi excepturi temporibus
        provident totam ipsa. Quia ad alias dicta dignissimos? Corporis eius est
        ea.
      </p>
      <div slot="footer">
        <hr />
        &copy; Marc Bakker
      </div>
    </lib-article>
  </div>
</div>
