<h2>This is the page containing the Text component</h2>

<div class="component-section">
	<h3>This text component contains text, a title and a subtitle.</h3>
	<lib-text title="This is the title" subTitle="This is the subtitle"
		><p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, exercitationem
			laborum. Quia, eum delectus exercitationem quos, officia veritatis consequatur rem
			repudiandae culpa, inventore corporis corrupti. Aperiam corporis veniam minima nam?
		</p>
		<p>
			Provident reiciendis mollitia in, esse pariatur accusamus assumenda natus.
			Recusandae nobis, distinctio illum consequatur exercitationem itaque id quidem
			pariatur velit, blanditiis sequi. Similique doloribus magnam non quis repudiandae
			ipsum optio.
		</p>
		<p>
			Ab, nobis. Aperiam perferendis ipsa sequi, alias sint quos exercitationem ipsum
			sapiente cupiditate, blanditiis odio recusandae consectetur? Soluta, quas quam
			pariatur exercitationem obcaecati repudiandae minima autem, molestias natus
			praesentium repellendus.
		</p></lib-text
	>
</div>

<div class="component-section">
	<h3>This text component contains only text</h3>
	<lib-text
		><p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, exercitationem
			laborum. Quia, eum delectus exercitationem quos, officia veritatis consequatur rem
			repudiandae culpa, inventore corporis corrupti. Aperiam corporis veniam minima nam?
		</p>
		<p>
			Provident reiciendis mollitia in, esse pariatur accusamus assumenda natus.
			Recusandae nobis, distinctio illum consequatur exercitationem itaque id quidem
			pariatur velit, blanditiis sequi. Similique doloribus magnam non quis repudiandae
			ipsum optio.
		</p>
		<p>
			Ab, nobis. Aperiam perferendis ipsa sequi, alias sint quos exercitationem ipsum
			sapiente cupiditate, blanditiis odio recusandae consectetur? Soluta, quas quam
			pariatur exercitationem obcaecati repudiandae minima autem, molestias natus
			praesentium repellendus.
		</p></lib-text
	>

	<div class="component-section">
		<h3>This text component contains text and an image</h3>
		<lib-text
			><div class="text__image--float-left">
				<lib-image
					imageUrl="/assets/images/cow.jpg"
					alt="Cow staring in camera from nearby"
					caption="This is really in your face"
					[expand]="true"
				></lib-image>
			</div>
			<p>
				Provident reiciendis mollitia in, esse pariatur accusamus assumenda natus.
				Recusandae nobis, distinctio illum consequatur exercitationem itaque id quidem
				pariatur velit, blanditiis sequi. Similique doloribus magnam non quis repudiandae
				ipsum optio.
			</p>
			<p>
				Ab, nobis. Aperiam perferendis ipsa sequi, alias sint quos exercitationem ipsum
				sapiente cupiditate, blanditiis odio recusandae consectetur? Soluta, quas quam
				pariatur exercitationem obcaecati repudiandae minima autem, molestias natus
				praesentium repellendus.
			</p></lib-text
		>
	</div>
</div>
