<div class="container">
  <div class="logo1">
    <lib-image
      imageUrl="/assets/images/portfolio/iCMS/domainListing.jpg"
      alt="simpleCMS screenshot1"
      caption="simpleCMS screenshot1"
      [expandable]="true"
    ></lib-image>
  </div>
  <div class="logo2">
    <lib-image
      imageUrl="/assets/images/portfolio/iCMS/domainListing.jpg"
      alt="simpleCMS screenshot1"
      caption="simpleCMS screenshot1"
      [expandable]="true"
    ></lib-image>
  </div>
  <div class="logo3">
    <lib-image
      imageUrl="/assets/images/portfolio/iCMS/domainListing.jpg"
      alt="simpleCMS screenshot1"
      caption="simpleCMS screenshot1"
      [expandable]="true"
    ></lib-image>
  </div>

  <div class="content">{{ aboutText$ }}</div>
</div>
