* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page__body {
	display: flex;
	flex-grow: 1;
}

nav.page__sidebar {
	background-color: rgb(219, 218, 134);
	color: white;
	flex-grow: 1;
	padding: 1rem;
}

.page__content {
	background-color: snow;
	flex-grow: 5;
	padding: 1rem;
}
