<app-page>
  <app-header header>Component Showroom</app-header>

  <ng-container sidebar>
    <h1>Componenten</h1>

    <app-nav-list>
      <app-nav-item *ngFor="let link of links" [url]="link.url">
        {{ link.title }}
      </app-nav-item>
    </app-nav-list>
  </ng-container>

  <div class="page__content-container">
    <div class="icons">
      <span
        [ngClass]="{
          'material-symbols-outlined': true,
          'icon--selected': pageViewMode === 'component'
        }"
        component
        (click)="setPageViewMode('component')"
      >
        visibility
      </span>
      <span
        [ngClass]="{
          'material-symbols-outlined': true,
          'icon--selected': pageViewMode === 'code'
        }"
        code
        (click)="setPageViewMode('code')"
      >
        code
      </span>
    </div>
    <router-outlet></router-outlet>
  </div>
</app-page>
