.page__content-container {
  background-color: snow;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 2rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding: 3px;

  & span {
    padding: 0.5rem;

    &:hover,
    &.icon--selected {
      background-color: lightgrey;
      border-radius: 8px;
      cursor: pointer;
    }

    &.icon--selected {
      background-color: #425b77;
      color: white;
    }

    &:first-of-type {
      margin-right: 2rem;
    }

    &:last-of-type {
      margin-left: 2rem;
    }
  }
}
