.layout__main-content {
  display: flex;
}

.layout__page-content {
  flex-grow: 100;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding: 1px;

  & span {
    padding: 0.25rem;

    &:hover,
    &.icon--selected {
      background-color: lightgrey;
      border-radius: 8px;
      cursor: pointer;
    }

    &.icon--selected {
      background-color: #425b77;
      color: white;
    }

    &:first-of-type {
      margin-right: 1rem;
    }

    &:last-of-type {
      margin-left: 1rem;
    }
  }
}
nav.layout__sidebar {
	background-color: rgb(219, 218, 134);
	color: white;
	display: flex;
	flex-direction: column;
	padding: 1rem;
  width: 25vw;
}
