.nav__item {
	color: white;
	display: flex;
	font-size: 1.5rem;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;

	&:hover {
		background-color: steelblue;
		margin: 0 -1rem;
		padding-left: 2rem;
		width: auto;
	}

	&:focus {
		outline: none;
	}
}
