.nav__item {
	color: white;
	display: flex;
	font-size: 1.5rem;
	margin: 0 -1rem;
	padding-left: 2rem;
	text-decoration: none;
	width: auto;

	&:hover {
		background-color: steelblue;
	}

	&:focus {
		outline: none;
	}

	&.nav__link--active {
		background-color: steelblue;
	}
}
