.component-section {
  background-color: white;
  border: 1px solid #ccc;
  margin: 1.5rem 0;
  padding: 0 1rem 1rem;

  & .component {
    box-shadow: 5px 10px 10px 1.5px #efefef;
    margin-top: 1rem;
  }

  & h3 {
    margin-left: 1rem;
  }
}

h2 {
  margin-left: 2.5rem;
}
