<h2>This is the page containing the Header component</h2>

<ng-container *ngIf="displayComponent">
  <div class="component-section">
    <h3>
      This header component contains a title and a subtitle. The subtitle is
      optional.
    </h3>
    <div class="component">
      <lib-header
        [align]="input_align"
        [title]="input_title"
        [subTitle]="input_subTitle"
      >
      </lib-header>
    </div>
  </div>
</ng-container>

  <div class="component-section">
    <h3>This is a header with a title but without a subtitle.</h3>
    <div class="component">
      <lib-header align="left" title="This is the title"> </lib-header>
    </div>
  </div>

<div class="panel component-section">
  <div class="controls component">
    <div class="row__button">
      <label for="title">title</label>
      <input type="text" name="title" [(ngModel)]="input_title" />
    </div>
    <div class="row__button">
      <label for="subTitle">subtitle</label
      ><input type="text" name="subTitle" [(ngModel)]="input_subTitle" />
    </div>
    <div class="row__button">
      <label for="align">align</label>
      <select name="align" [(ngModel)]="input_align">
        <option value="left">left</option>
        <option value="center">center</option>
        <option value="right">right</option>
        <option value="around">around</option>
      </select>
    </div>
  </div>
</div>
