<h2>This is the page containing the Header component</h2>

<ng-container *ngIf="displayComponent">
  <div class="component-section">
    <h3>
      This header component contains a title and a subtitle. The subtitle is
      optional.
    </h3>
    <div class="component">
      <lib-header
        align="left"
        title="This is the title"
        subTitle="This is the subtitle"
      >
      </lib-header>
    </div>
  </div>

  <div class="component-section">
    <h3>This is a header with a title but without a subtitle.</h3>
    <div class="component">
      <lib-header align="left" title="This is the title"> </lib-header>
    </div>
  </div>

  <div class="component-section">
    <h3>This is a header with title and subtitle default (center) aligned.</h3>

    <div class="component">
      <div class="component">
        <lib-header
          title="This is the title"
          subTitle="This is the subtitle"
        ></lib-header>
      </div>
    </div>
  </div>

  <div class="component-section">
    <h3>This is a header with title and subtitle aligned evenly.</h3>
    <div class="component">
      <lib-header
        title="This is the title"
        align="around"
        subTitle="This is the subtitle"
      ></lib-header>
    </div>
  </div>

  <div class="component-section">
    <h3>This is a header with logo, title and subtitle .</h3>
    <div class="component">
      <lib-header title="This is the title" subTitle="This is the subtitle">
        <ng-container slot="logo">
          <lib-logo
            imageUrl="assets/images/logos/CGI-logo-192x192.png"
            alt="Logo van een bekend computermerk"
          >
          </lib-logo>
        </ng-container>
      </lib-header>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="displayCode">
  <div class="component">
    <div class="component-section">{{code}}</div>
  </div>
</ng-container>
